.wrapper {
  margin: 10px;
  display: flex;
  gap: 30px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

/* .info {
  width: 500px;
} */

.genres {
  display: flex;
  gap: 10px;
}

.genre {
  margin: 0;
}

.additionalInformation {
  margin: 20px;
   display: flex;
  flex-direction: column;
}

a {
  color: black; /* Ustawia kolor na czarny */
  text-decoration: none; /* Usuwa podkreślenie */
}